html {
  box-sizing: border-box;
  font-family: "Cooper Std";
  font-size: 16px;
  padding: 0;
  width: 100vw;
  margin: 0, auto;
  line-height: 1.6rem;
}

/* nine color schemes */

.colorscheme1 {
  --background-color: #251b71;
  --foreground-color: #4296d2;
}

.colorscheme2 {
  --background-color: #8dc788;
  --foreground-color: #2d6320;
}

.colorscheme3 {
  --background-color: #ea3b24;
  --foreground-color: #f8d5d0;
}

.colorscheme4 {
  --background-color: #9329d1;
  --foreground-color: #c9e6f5;
}

.colorscheme5 {
  --background-color: #251b71;

  --foreground-color: #e6e195;
}

.colorscheme6 {
  --background-color: #e4c693;
  --foreground-color: #000000;
}

.colorscheme7 {
  --background-color: #4296d2;
  --foreground-color: #fdf250;
}
.colorscheme8 {
  --background-color: #51b333;
  --foreground-color: #ffffff;
}

.colorscheme9 {
  --background-color: #844e20;
  --foreground-color: #d595b5;
}

img {
  object-fit: cover;
  width: 300px;
  height: 300px;
  margin-right: calc((100vw - 300px) / 2);
  margin-left: calc((100vw - 300px) / 2);
}

svg {
  width: 80vw;
  max-height: 5rem;
  margin-right: 10vw;
  margin-left: 10vw;
}

h1 {
  font-size: 2.441rem;
}

h2 {
  font-size: 1.953rem;
}

h3 {
  font-size: 1.563rem;
}

p1 {
  font-size: 1.25rem;
}

p2 {
  font-size: 1rem;
}

p3 {
  font-size: 0.8rem;
}

#how-to {
  width: 300px;
  margin-right: calc((100vw - 300px) / 2);
  margin-left: calc((100vw - 300px) / 2);
}

#score {
  width: 300px;
  margin-right: calc((100vw - 300px) / 2);
  margin-left: calc((100vw - 300px) / 2);
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}
